<?xml version='1.0' encoding='utf-8'?>
<widget id="com.capitaltechalliance.fleet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fleet Management</name>
    <description>Fleet Management iOS Application</description>
    <author email="support@capitaltechalliance.com" href="https://fleet.capitaltechalliance.com">
        Capital Tech Alliance
    </author>
</widget>
