---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: azure-ad-secret-reader
  namespace: fleet-management
rules:
- apiGroups: [""]
  resources: ["secrets"]
  resourceNames: ["azure-ad-secret"]
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: fleet-api-azure-ad-secret-binding
  namespace: fleet-management
subjects:
- kind: ServiceAccount
  name: default
  namespace: fleet-management
roleRef:
  kind: Role
  name: azure-ad-secret-reader
  apiGroup: rbac.authorization.k8s.io
